<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_History</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/notiflix-aio-3.2.6.min.js"></script>
    <style>
        /* Define table border styles */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #FDFFAE;
        }

        .pagination {
            justify-content: center;
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex">
            <span id="username" class="text-white me-3 mt-2">username</span>
            <a href="/logout" class="btn btn-danger me-3">Logout</a>
        </div>
    </nav>
    <!-- order history table -->
    <div class="container py-5">
        <h1 class="mt-5 mb-4">History User</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Room</th>
                        <th>Booking date</th>
                        <th>Time slots</th>
                        <th>Approver name</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <!-- Table body will be populated dynamically using JavaScript -->
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
    <div id="footerContainer">
        <!-- Include footer.html -->
        <footer id="footer-section"></footer>
    </div>
    
    <script src="/public/js/user_history.js"></script>
</body>
</html>